<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
        <title>weatherApp</title>
        <link href="lib/ionic/css/ionic.css" rel="stylesheet">
        <link href="css/style.css" rel="stylesheet">
        <!-- ionic/angularjs js -->
        <script src="lib/ionic/js/ionic.bundle.js"></script>
        <!-- cordova script (this will be a 404 during development) -->
        <script src="cordova.js"></script>
        <!-- your app's js -->
        <script src="js/app.js"></script>
    </head>

    <body ng-app="starter">
        <ion-pane>
            <ion-content>
                <div ng-controller="refresher">
                    <ion-refresher pulling-text="Pull to refresh..." on-refresh="doRefresh()">
                    </ion-refresher>
                </div>
                <!-- A ne pas supprimer, implémentation de l'apel AJAX pour la géoloc -->
                <div ng-controller="init"></div>
                <div ng-controller="weatherByLocation">{{city.name}}{{city.country}}</div>
                <div id="mainPage" ng-controller="weatherByCityName">
                    <div class="bar bar-header bar-light">
                        <!-- <div class="title">{{city.name}}</div> -->

                        <!-- A ne pas supprimer, future implémentation -->
                        <!--                         <button class="button button-icon icon ion-plus-round"></button> -->
                    </div>
                    <div id="componentBottom" class="row row-bottom">
                        <div class="col">
                            <p class="temperature">{{city.temperature}}°</p>
                            <div class="globalWeather">
                                <img class="weather-icon" ng-src={{city.weatherIcon}}></img><span class="weather">{{city.weather}}</span>
                            </div>
                            <p>
                                <img class="arrow-up" src="img/arrowUp.png"></img><span class="temperature-max">{{city.temperatureMax}}°</span>
                                <img class="arrow-down" src="img/arrowDown.png"></img><span class="temperature-min">{{city.temperatureMin}}°</span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="item item-divider">
                        Previsions
                    </div>
                    <div class="list">
                        <div ng-controller="weatherForecast36Hours">
                            <ion-scroll direction="x" class="wide-as-needed horizontalScrollContainer">
                                <div id="hourPrevisionsContainer" class="row">
                                    <div ng-repeat="hour in hours" class="hourPrevisionsBlock col">
                                        <div>{{hour.clock}}</div>
                                        <img ng-src={{hour.wheatherIcon}}></img>
                                        <div>{{hour.temp}}°</div>
                                    </div>
                                </div>
                            </ion-scroll>
                        </div>
                        <div ng-controller="weatherForecastXDays" class="daysPrevisionsContainer">
                            <div ng-repeat="day in days" class="row dayPrevisionsContainer">
                                <span class="col col-45 day">{{day.date}}</span>
                                <div class="col col-10">
                                    <img class="wheather-icon" ng-src={{day.wheatherIcon}}></img>
                                </div>
                                <div class="col col-45 temp">
                                    <span>{{day.tempMax}}°</span>&nbsp;&nbsp;
                                    <span class="tempMin">{{day.tempMin}}°</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </ion-content>
        </ion-pane>
    </body>

</html>
