/* Empty. Add your own CSS if you like */
ion-content {
	background: url("../img/fond.jpg");
	background-size: 100%;
}
.title {
	text-align: center;
}

/*.div-previsions {
    float : left;
    display: inline-block;
    width: 25%;
    text-align: center;
}

.previsions {
    float : left;
    display: inline-block;
    width: 25%;
    height: 100%;
    text-align: center;
}

.day {
    clear: both;
}*/