ion-content {
    background: url(../img/Lyon.jpg);
    background-size: 100%;
}
/*Title color*/

.title {
    color: white !important;
}
/*Temperature on the main page*/

.temperature {
    font-size: 70px;
}
/*Main page parameters*/

#mainPage {
    margin: 10px;
    color: white;
    height: 100vh;
}
/*Height of the component in the main page's bottom*/

#componentBottom {
    height: 100%;
}
/*Color of the min temperature in the previsions card*/

.tempMin {
    color: blue;
}
/*Position of the temperatures in the previsions card*/

.temp {
    text-align: right;
    color: white;
}
/*Appearance of the previsions card*/

.card {
    background-color: rgba(0, 0, 0, 0.8);
}
/*Appearance of the item appending to the previsions card*/

.item {
    color: white;
    background-color: rgba(0, 0, 0, 0.2);
}
/*Color of the day in the previsions card*/

.day {
    color: white;
}
/*Hour previsions*/

.hourPrevisionsBlock {
    color: white;
    margin: 0 5px 0 5px;
    text-align: center;
    min-width: 60px;
}
/*Allow horizontal scoll on hours previsions*/

.wide-as-needed {
    overflow: hidden;
    white-space: nowrap;
}

#hourPrevisionsContainer {
    margin: 2px;
}

.horizontalScrollContainer {
    width: 100%;
    overflow: hidden;
}

.bar.bar-light {
    background: none;
}

.bar-header {
    border: 0px;
}

.daysPrevisionsContainer {
    border-top: 1px solid white;
}

.dayPrevisionsContainer {
    border-bottom: 1px solid white;
    border-style: dotted;
}
