/* Empty. Add your own CSS if you like */

ion-content {
    background: url("../img/fond.jpg");
    background-size: 100%;
}
.title {
    text-align: center;
    height: 10%;
}
#mainPage {
    margin: 10px;
    color: white;
    height: 100vh;
}
#componentBottom {
    height: 90%;
}

